@import './base.less';

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    cursor: url("./cursor/mouse2.png"), url("./cursor/mouse2.png"), auto;
  }
}

i {
  cursor: url("./cursor/mouse2.png"), url("./cursor/mouse2.png"), auto;
}

button[type="button"] {
  cursor: url("./cursor/mouse2.png"), url("./cursor/mouse2.png"), auto;
}

html, body {
  word-wrap: break-word;
  scroll-behavior: smooth;
  cursor: url("./cursor/mouse1.png"), url("./cursor/mouse1.png"), auto;

  @media screen and (max-width: 1280px) {
    overflow-x: hidden;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #018EE8;
}

::selection {
  background: @bgActiveRed;
  color: white;
}
